.container {
  height: 100%;
  display: flex;
  justify-content: center; /* 자식요소 좌우(가로) 배치 */
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* 자식요소 상하(세로) 배치 */
  font-weight: 600; /*폰트 두께 */
}

.movieList {
  display: grid; /* 상하 / 좌우가아닌 상하좌우인느낌 */
  grid-template-columns: repeat(
    2,
    minmax(400px, 1fr)
  ); /*열2줄  minmax는 반응형으로 줄였을때 최소한의 크기(400px에서 더 안줄어듬) 1fr > 400px을 뺀나머지 공간을 쓴다 비율 만약 (2fr 1fr) 2:1 비율*/
  grid-gap: 100px; /*grid간의 거리*/
  padding: 50px;
  padding-top: 80;
  width: 80%; /* 가운데 기준으로 좌우 10% 날라간느낌*/
}

/*반응형이된다 1090px보다 줄어들면 movieList변경 width(80->100) 열1줄  */
@media screen and (max-width: 1090px) {
  .movieList {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
