.App {
  padding: 20px;
}

body {
  background: lightyellow;
}

.nav {
  margin-bottom: 30px;
}

.list {
  border: 3px solid pink;
  padding: 10px;
}

.item {
  border: 2px solid lightgreen;
  padding: 5px;
  margin: 3px;
}
